.inter- uniquifier {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}
.banner{
    background-image: url(../Images/img1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 170px 0;
}
.skills-padding{
  padding: 50px 0;
}